<div
    class="w-full flex flex-col bg-zinc-800/50 rounded-xl p-4 gap-6 border border-zinc-700"
>
    <div class="w-full flex items-center gap-3">
        <span>Connects</span>
    </div>
    <div class="w-full flex gap-1">
        <a
            href="mailto:erdanaerboluly@gmail.com"
            class="bg-zinc-800 flex items-center justify-center w-full py-2 rounded-sm gap-2 hover:bg-zinc-700 transition duration-200 cursor-pointer"
        >
            <%= @email_icon %>
            <span>Email</span>
        </a>
        <a
            href="https://t.me/heilethan"
            class="bg-zinc-800 flex items-center justify-center w-full py-2 rounded-sm gap-2 hover:bg-zinc-700 transition duration-200 cursor-pointer"
        >
            <%= @telegram %>
            <span>Telegram</span>
        </a>
    </div>
</div>
