<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/output.css" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <title><%= @page_title %></title>
    </head>
    <body>
        <main class="w-full relative">
            <%= @use.("shared/header.html", []) %>
            <div class="flex flex-col md:px-12 px-6 lg:px-24 gap-16">
                <div class="lg:mt-28 md:mt-24 mt-16"></div>
                <%= @page %>
            </div>
            <footer class="w-full flex flex-col py-24 items-center px-24 gap-8">
                <div class="w-full h-[1px] bg-zinc-700"></div>
                <span class="text-zinc-600">Who needs a footer? © 2025</span>
            </footer>
        </main>
    </body>
</html>
