<header
    class="w-full fixed bg-zinc-900/10 backdrop-blur-sm flex py-8 justify-center items-center"
>
    <nav
        class="text-sm font-light border border-zinc-700 flex items-center relative gap-6 px-8 py-3 rounded-full bg-zinc-800"
    >
        <a href="/" class="hover:text-zinc-400">Home</a>
        <a href="/now" class="hover:text-zinc-400">Now</a>
        <a href="/articles" class="hover:text-zinc-400">Articles</a>
        <a href="/projects" class="hover:text-zinc-400">Projects</a>
    </nav>
</header>
