<div class="flex flex-col gap-3">
    <div class="flex flex-col gap-6">
        <h1 class="text-4xl font-bold">What I'm Doing Now</h1>
        <span class="text-sm font-light text-zinc-400 md:w-1/2"
            >This is
            <a
                class="text-emerald-500"
                href="https://nownownow.com/about"
                target="_blank"
            >
                now
            </a>
            page. If you have your own website, you should make one too.
        </span>
    </div>
</div>
<div class="flex flex-col gap-12 text-base">
    <div class="flex flex-col gap-4">
        <span class="font-semibold text-lg">Location</span>
        <span class="text-zinc-400 md:w-3/5"
            >Near Munich, Germany there is a small village called Sindelsdorf.
            For a little more than 1500 people. Although the village is small,
            it is a bustling place. And the nature is incredible, because of
            this I often started cycling around the area</span
        >
    </div>
    <div class="flex flex-col gap-4">
        <span class="font-semibold text-lg">Coding & AI</span>
        <span class="text-zinc-400 md:w-3/5"
            >2 years ago I decided to just go back to the HTML/CSS I learned
            when I was 12. And so, I got sucked in, for more than 2 years now,
            every day I write something. Mostly some small AI applications for
            myself, friends and family. Also open source dev-tools for everyone,
            as it helps to learn new things</span
        >
    </div>
    <div class="flex flex-col gap-4">
        <span class="font-semibold text-lg">German & English</span>
        <span class="text-zinc-400 md:w-3/5"
            >in 2023, I moved to Germany. Because of my profession and hobbies,
            I had to learn both languages. And so I'm learning them. I've
            reached a good level in both. I will probably write about this
            interesting process someday.</span
        >
    </div>
</div>
